<header>
    <nav class="nav d-none d-xl-block d-lg-block d-md-block">
        <div class="nav-content">
            <div class="header-logo d-flex"><%= image_tag "logo.PNG", class: "mt-2 mt-xl-0 mt-lg-0 mt-md-0", alt: "logo" %><h3 class="align-self-center m-xl-1 m-lg-1 m-md-1">ZATTIX</h3></div>
            <ul  class="nav-links">
                <li class="home"><%= link_to 'HOME', root_path, class: 'ml-2' %></li>
                <li class="d-flex nav-icon"><%= image_tag "colection_icon.PNG", class: "mx-xl-3 mx-lg-3 mx-md-3 mx-1 mt-0 mt-xl-1 mt-lg-1 mt-md-1", alt: "collection" %><a href="#" class="mt-xl-1 mt-lg-1 mt-md-1">COLLECTIONS</a></li>
            </ul>
            <div class="d-none d-lg-flex profile"><i class="fa fa-envelope align-self-center mr-4"></i><%= link_to 'Logout', root_path, class: "text-white align-self-center m-1" %></div>
        </div>
    </nav>
    <nav class="d-block d-xl-none d-lg-none d-md-none nav">
        <div class="nav-content d-flex justify-content-between">
            <div class="header-logo d-flex"><%= image_tag "logo.PNG", class: "align-self-center", alt: "logo" %><h3 class="align-self-center m-xl-1 m-lg-1 m-md-1">ZATTIX</h3></div>
            <div class="menu-itemss">
                <div class="mt-2 menu-cont nav-content-i"><i class="fa fa-bars"></i></div>
                <div class="dropdown-content">
                  <a href="#">HOME</a>
                  <a href="#">COLLECTIONS</a>
                </div>
            </div>
        </div>
    </nav>
</header>
